.basket__count {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background-color: #ff3b30;
    color: white;
    padding: 3px;
    text-align: center;
    min-width: 25px;}

