{% extends 'base.html'%}
{% load static %}
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>



{%block main%}
<header class="header" id="header">
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a class="logo-image" href="#"><img src="{% static '/img/small-logo.svg'%}" alt="" width="120" height="120"></a>

        </figure>
        <h1 class="animated fadeInDown delay-07s">Ласкаво просимо до Garage Hub</h1>
        <ul class="we-create animated fadeInUp delay-1s">
            <li>GarageHub: успіх в простоті. Тихо, якісно, надійно.</li>
        </ul>
        <a class="link animated fadeInUp delay-1s servicelink" href="#start">Розпочнімо!</a>
    </div>
</header>
{% include 'web/_nav.html'%}
{%endblock%}






{%block about%}
<section class="main-section aboutus" id="start">
    <!--main-section team-start-->
    <div class="container">
        <h2>Про нас</h2>
        <h6>Познайомтеся з нами краще.<br>Ми не кусаємось, гайками не кидаємось(поки-що). </h6>
        <div class="team-leader-block clearfix">

        

            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-02s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    
                
                </div>
                <h3 class="wow fadeInDown delay-02s">НАША ціль.</h3>
                <span class="wow fadeInDown delay-02s">Створення спільноти автолюбителів: наші мета та напрямки.</span>
                <p class="wow fadeInDown delay-02s">У GarageHub ми прагнемо створити сприятливе середовище для автолюбителів усіх рівнів, де вони зможуть знайти все необхідне для свого автомобіля. Наша місія - зробити покупки автозапчастин простими, приємними та безпечними для наших клієнтів.</p>
            </div>
            
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-04s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                   
                  
                </div>
                <h3 class="wow fadeInDown delay-04s">НАША ПРОПОЗИЦІЯ</h3>
                <span class="wow fadeInDown delay-04s">Якість, доступність, надійність: переваги покупок на GarageHub.</span>
                <p class="wow fadeInDown delay-04s">На GarageHub ми пропонуємо широкий асортимент автозапчастин від провідних виробників, які відповідають найвищим стандартам якості та надійності. Ми відібрали тільки найкращі товари для наших клієнтів, щоб вони могли бути повністю впевнені у своєму виборі.</p>
            </div>

            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-06s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                   
                 
                </div>
                <h3 class="wow fadeInDown delay-06s">НАША КОМАНДА</h3>
                <span class="wow fadeInDown delay-06s">Познайомтеся з нашою командою експертів.</span>
                <p class="wow fadeInDown delay-06s">У GarageHub працює віддана і досвідчена команда, яка не лише пропонує вам товари, але й надає поради та підтримку. Наші фахівці глибоко занурені в автомобільну індустрію і завжди готові допомогти вам з будь-якими питаннями або потребами.</p>
            </div>

            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
            
                  
                </div>
                <h3 class="wow fadeInDown delay-09s">НАШІ ЗОБОВ'ЯЗАННЯ</h3>
                <span class="wow fadeInDown delay-09s">Досягнення досконалості: цілі та стандарти обслуговування.</span>
                <p class="wow fadeInDown delay-09s">У GarageHub ми прагнемо виділятися в усьому, що ми робимо. Ми пишаємося можливістю надавати нашим клієнтам найкращі автозапчастини, найкращі ціни та найкращий сервіс.</p>
            </div>

            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
         
                 
                </div>
                <h3 class="wow fadeInDown delay-09s">ЗВ'ЯЖІТЬСЯ З НАМИ</h3>
                <span class="wow fadeInDown delay-09s">Обговоріть ваші потреби та ідеї: зв'яжіться з нами вже сьогодні.</span>
                <p class="wow fadeInDown delay-09s">Ми завжди відкриті для спілкування з нашими клієнтами. Якщо у вас є які-небудь питання, пропозиції або потреби, будь ласка, не соромтеся зв'язатися з нами. Наша команда буде рада допомогти вам у будь-який час.</p>
            </div>
            
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="img/team-leader-pic1.jpg" alt="">
                
                </div>
                <h3 class="wow fadeInDown delay-09s">МИ ЧЕКАЄМО НА ВАС</h3>
                <span class="wow fadeInDown delay-09s">Спілкуйтесь з нами: вибирайте зручний спосіб зв'язку.</span>
                <p class="wow fadeInDown delay-09s">Ми завжди відкриті для спілкування з нашими клієнтами та партнерами. Незалежно від того, чи маєте ви запитання, пропозиції або потреби, ми готові вам допомогти і відповісти на всі ваші запитання.</p>
            </div>
          
        </div>
    </div>
</section>
<!--main-section team-end-->
{%endblock%}


{%block footer%}
<footer id="footer" class="footer">
    <div class="container">
        <div class="col-lg-6 col-sm-7 wow fadeInLeft">
            <div class="contact-info-box clearfix wow fadeInLeft">
                <h3 class="style-footer-text"><i class="fa-map-marker"></i>Adress:</h3>
                <span>вул. Гарматна, 51, <br>Київ, Україна, 03035.</span>
            </div>
            <div class="contact-info-box clearfix wow fadeInLeft">
                <h3 class="style-footer-text"><i class="fa fa-phone"></i>Phone:</h3>
                <span>380-964-947-315</span>
            </div>
        </div>
        <div class="col-lg-6 col-sm-5 wow fadeInRight">
            <div class="contact-info-box clearfix wow fadeInRight">
                <h3 class="style-footer-text"><i class="fa fa-pencil"></i>Gmail:</h3>
                <span>maks.ku4.rb@gmail.com</span>
            </div>
            <div class="contact-info-box clearfix wow fadeInRight">
                <h3 class="style-footer-text"><i class="fa fa-clock-o"></i>Hours:</h3>
                <span><strong>З понеділка по четвер:</strong> 10:00 - 18:00<br><strong>П'ятниця:</strong> 10:00 - 16:00 <br><strong>Субота - неділя:</strong> Серйозно?</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="social-link text-center wow fadeInUp ">
            <ul class="social-link footer-img">
                <li class="facebook"><a target="_blank" href="https://www.facebook.com/profile.php?id=100022345434235"><i class="fa fa-facebook"></i></a></li>
                <li class="telegram"><a target="_blank" href="https://t.me/Maakiv"><i class="fa fa-telegram"></i></a></li>                
                <li class="instagram"><a target="_blank" href="https://www.instagram.com/makivij_/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>




{%endblock%}

