<div class="col-md-4 cab-sidebar">
    <ul class="cab-sidebar-menu">
        <li><a href="{%url 'my_acount'%}" class="cab-sidebar-link">Мій акаунт</a></li>
        <!-- <li><a href="{%url 'my_orders'%}" class="cab-sidebar-link">Історія</a></li> -->
        <li><a href="{% url 'cart' %}" class="cab-sidebar-link">Кошик</a></li>
        <!-- <li><a href="{%url 'my_wallet'%} " class="cab-sidebar-link">Мої карти</a></li>-->
        <li><a href="{%url 'logout'%}" class="cab-sidebar-logout">Вийти з акаунту</a></li>
    </ul>
</div>